<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Analysis</title>
    <link rel="stylesheet" href="../static/index_styles.css">
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/predictions">Analysis</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Home Page</h1>  
        <p></p>
    </main>
    <footer>
        <p>Andrew Jones Machine Learning Project &copy; 2024 - Data Analysis</p>
    </footer>
    <script src="../static/index_scripts.js"></script>
  </body>
</html>