<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Analysis</title>
    <link rel="stylesheet" href="../static/index_styles.css">
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/predictions">Analysis</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Home Page</h1>  
        <p>Welcome to the Data Analysis Project</p>
        <p>Some questions to answer with the data:</p>
        
        <ol type="1">
          <li>What is the average adjusted close price for IBM stock per month?</li>
          <li>What is the average high-low difference for IBM stock per year?</li>
          <li>Which year had the greatest change in adjusted close price? (show both the largest gain and loss)</li>
        </ol> 

        <p>Click the button below to see the data</p>
        <button onclick="loadPlot()">Load Plot</button>
        <div id="plot-container"></div>
        <p>Click the button below to see the answer to question 1</p>
        <button onclick="loadQuestion1()">Question 1</button>
        <div id="question1-container"></div>
        <p>Click the button below to see the answer to question 2</p>
        <button onclick="loadQuestion2()">Question 2</button>
        <div id="question2-container"></div>
        <p>Click the button below to see the answer to question 3</p>
        <button onclick="loadQuestion3Min()">Question 3 Min</button>
        <div id="question3min-container"></div>
        <button onclick="loadQuestion3Max()">Question 3 Max</button>
        <div id="question3max-container"></div>
        <p>Click the button below to see a table of comparing the high and low stock prices during a week long period</p>
        <button onclick="loadTable()">Load Table</button>
        <div id="table-container"></div>
    </main>
    <footer>
        <img src="../static/stonks.jpeg" alt="Stonks">
        <img src="../static/notstonks.avif" alt="Not Stonks">
        <p>Andrew Jones || Data Analysis Project &copy; 2024 - Stonks</p>
    </footer>
    <script src="../static/index_scripts.js"></script>
  </body>
</html>